footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #89949C;

    li {
        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}