---
import "../styles/main.scss";
import userIcon from "../assets/user_icon.png";
import passIcon from "../assets/pass_icon.png";
---

<div class="page_wrap">
    <h1>ログイン</h1>
    <div class="form_wrap">
        <form>
            <div class="page_user">
                <span class="user_icon"></span>
                <input type="text" name="username" />
            </div>
            <div class="page_pass">
                <span class="pass_icon"></span>
                <input type="password" name="password" />
            </div>
            <button type="submit" class="btn"> アカウント登録 </button>
        </form>
    </div>
</div>
