---
import BookIcon from "../assets/Illustrated_book.png?url";
import GachaIcon from "../assets/gacha.png?url";
import DuelIcon from "../assets/duel.png?url";
---

<footer>
    <nav>
        <ul>
            <li>
                <a href="/book"><img src={BookIcon} alt="図鑑" /></a>
            </li>
            <li>
                <a href="/gacha"><img src={GachaIcon} alt="ガチャ" /></a>
            </li>
            <li>
                <a href=""><img src={DuelIcon} alt="デュエル" /></a>
            </li>
        </ul>
    </nav>
</footer>
