---
import BookIcon from "../assets/Illustrated_book.png?url";
import GachaIcon from "../assets/gacha.png?url";
import DuelIcon from "../assets/duel.png?url";
---

<style lang="scss">
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    ul {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: #89949c;

        li {
            a {
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
</style>

<footer>
    <nav>
        <ul>
            <li>
                <a href="/book"><img src={BookIcon} alt="図鑑" /></a>
            </li>
            <li>
                <a href="/gacha"><img src={GachaIcon} alt="ガチャ" /></a>
            </li>
            <li>
                <a href="/duel"><img src={DuelIcon} alt="デュエル" /></a>
            </li>
        </ul>
    </nav>
</footer>
