---
import "../styles/_header.scss";
---

<header>
    <button id="hamburger" class="hamburger" aria-label="メニューを開く">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</header>

<script>
    // window.addEventListener("DOMContentLoaded", function () {
    //     const btn = document.getElementById("hamburger");
    //     const modal = this.document.getElementById("profile_moadal");
    //     btn?.addEventListener("click", function () {
    //         const isopen = modal.style.display === "flex";
    //         modal.style.display = isopen ? "none" : "flex";
    //         btn.classList.toggle("is_open", !isopen);
    //     });
    // });
</script>
