---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style lang="scss">
    @use "../../styles/_mixin.scss" as mixin;

    .form_wrap {
        width: 65%;
        margin: 0 auto;
        .input_wrap {
            @include mixin.input;

            input {
                height: 50px;
            }
        }

        .input_wrap:nth-of-type(1) .icon {
            @include mixin.icon(url("../../assets/user_icon.png"));
        }
        .input_wrap:nth-of-type(2) .icon {
            @include mixin.icon(url("../../assets/email_icon.png"));
        }
        .input_wrap:nth-of-type(3) .icon {
            @include mixin.icon(url("../../assets/pass_icon.png"));
        }

        .btn {
            @include mixin.btn;
        }
    }

    .acount_hav {
        margin-top: 60px;

        .line_wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            color: #fff;

            &::before,
            &::after {
                content: "";
                flex-grow: 1;
                height: 1px;
                background-color: #fff;
            }

            span {
                padding: 0 1rem;
                font-size: 1rem;
                white-space: nowrap;
            }
        }

        p {
            width: 90%;
            border-bottom: 1px solid #fff;
            margin: 0 auto;
            margin-top: 20px;

            a {
                color: #fff;
            }
        }
    }
</style>

<BaseLayout>
    <div class="page_wrap">
        <h1>アカウント登録</h1>
        <div class="form_wrap">
            <form id="register_form">
                <div class="input_wrap">
                    <span class="icon"></span>
                    <input
                        type="text"
                        name="username"
                        placeholder="ユーザーネーム"
                        required
                        minlength="4"
                    />
                </div>
                <div class="input_wrap">
                    <span class="icon"></span>
                    <input
                        type="email"
                        name="email"
                        placeholder="メールアドレス"
                        required
                    />
                </div>
                <div class="input_wrap">
                    <span class="icon"></span>
                    <input
                        type="password"
                        name="password"
                        placeholder="パスワード"
                        required
                        minlength="4"
                    />
                </div>
                <button type="submit" class="btn">アカウント登録</button>
            </form>
            <div class="acount_hav">
                <div class="line_wrap"><span class="line">or</span></div>
                <p>
                    <a href="../account/login">すでにアカウントをお持ちの方</a>
                </p>
            </div>
        </div>
    </div>

    <script>
        import { createUserWithEmailAndPassword } from "firebase/auth";
        import { auth } from "../../firebase/client";

        const form = document.getElementById("register_form")!;
        const emailInput = form.querySelector(
            'input[name="email"]',
        ) as HTMLInputElement;
        const passInput = form.querySelector(
            'input[name="password"]',
        ) as HTMLInputElement;

        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            try {
                await createUserWithEmailAndPassword(
                    auth,
                    emailInput.value.trim(),
                    passInput.value,
                );
                window.location.href = "/account/success";
            } catch (error: any) {
                alert(error.message);
            }
        });
    </script>
</BaseLayout>
