---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="page_wrap">
        <h1>アカウント登録</h1>
        <div class="form_wrap">
            <form id="register_form">
                <div class="page_name">
                    <span class="name_icon"></span>
                    <input
                        type="text"
                        name="username"
                        placeholder="ユーザーネーム"
                        required
                        minlength="4"
                    />
                </div>
                <div class="page_mail">
                    <span class="mail_icon"></span>
                    <input
                        type="email"
                        name="email"
                        placeholder="メールアドレス"
                        required
                    />
                </div>
                <div class="page_pass">
                    <span class="pass_icon"></span>
                    <input
                        type="password"
                        name="password"
                        placeholder="パスワード"
                        required
                        minlength="4"
                    />
                </div>
                <button type="submit" class="btn">アカウント登録</button>
            </form>
            <div class="acount_hav">
                <div class="line_wrap"><span class="line">or</span></div>
                <p><a href="/pages/login">すでにアカウントをお持ちの方</a></p>
            </div>
        </div>
    </div>

    <script>
        import { createUserWithEmailAndPassword } from "firebase/auth";
        import { auth } from "../../firebase/client";

        const form = document.getElementById("register_form")!;
        const emailInput = form.querySelector(
            'input[name="email"]',
        ) as HTMLInputElement;
        const passInput = form.querySelector(
            'input[name="password"]',
        ) as HTMLInputElement;

        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            try {
                await createUserWithEmailAndPassword(
                    auth,
                    emailInput.value.trim(),
                    passInput.value,
                );
                window.location.href = "/account/success";
            } catch (error: any) {
                alert(error.message);
            }
        });
    </script>
</BaseLayout>
