---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/main.scss";
---

<style lang="scss">
    @use "../../styles/_mixin.scss" as mixin;

    .page_wrap {
        p {
            @include mixin.success-comn(280px, 100px);
        }
        a {
            @include mixin.success-comn(250px, 50px);
        }
    }
</style>

<BaseLayout>
    <div class="page_wrap">
        <h1>アカウント登録</h1>
        <p>登録を完了しました！</p>
        <a href="../../pages/" class="btn">次へ</a>
    </div>
</BaseLayout>
