---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Account_Registration from "../pages/Account_Registration.astro";
import Login from "../pages/Login.astro";
import "../styles/main.scss";
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DuelDay</title>
    </head>
    <body>
        <Header />
        <!-- <Header/> -->
        <main>
            <slot />
            <Account_Registration />
            <Login />
        </main>
        <Footer />
    </body>
</html>
